// bower:scss
// endbower

$suits: clubs hearts spades diamonds;
$cards: ace two three four five six seven eight nine ten jack queen king;

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

ul {
  margin: 0; padding: 0;
}

input[type="number"] {
  width: 50px;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  form.settings, .board {
    display:none;
  }
  &.settings form.settings {
    display:block;
  }
  &.playing .board {
    display: block;
  }
}

.card {
  background: url(/images/standard-deck-sprite.png) no-repeat;
  width: 73px;
  height: 98px;
  display: inline-block;
  position: absolute;
  left:0;
  top: 0;

  &.back {
    background: url(/images/card-back.png) no-repeat;
  }

  @each $suit in $suits {
    &.#{$suit} {
      background-position: 0 -#{(index($suits, $suit)-1) * 98}px;
    }
  }

  @each $card in $cards {
    &.#{$card} {
      background-position-x: -#{(index($cards, $card)-1) * 73}px;
    }
  }
}

.deck {
  &.back {
    background: url(/images/deck-back.png) no-repeat;
    width: 80px;
    height: 107px;
    display: inline-block;

    .board & {
      float: right
    }
  }
}

.players {
  clear: both;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  text-align: center;

  .player {
    display: inline-block;
    margin: 0 25px;

    .name {
      display: block;
    }

    .cards-placeholder {
      position: relative;
      border: 1px solid black;
      width: 73px;
      height: 98px;
      display: inline-block;
    }

    &.two, &.three, &.four, &.five {
      display: none;
    }

    .actions {
      .hit, .double, .stand {
        display:none;
      }
    }

    &.playing {
      .actions .deal {
        display: none;
      }
      .actions {
        .hit, .double, .stand {
          display: inline;
        }
      }
    }

    &.waiting {
      .actions {
        .hit, .double, .stand, .deal {
          display:none;
        }
      }
    }
  }
}

.dealer {
  clear: both;
  margin: 0 auto;
  margin-bottom: 150px;
  width: 73px;
  height: 98px;
  text-align: center;

  .cards-placeholder {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    position:relative;

    .deck.back {
      float: none;
      background-image: url(/images/card-back.png);
    }
  }
}

.player, .dealer {
  &.bust {
    outline: 1px solid red;
  }

  &.winner {
    outline: 1px solid green;
  }
}
