<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>blackjack</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body class="settings">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="board">
      <div class="deck back"></div>

      <div class="dealer" data-player-id="0" data-player>
        <span>Dealer</span>
        <div class="cards-placeholder"></div>
      </div>

      <ul id="list-players-container" class="players">
        <script id="list-players" type="text/x-handlebars-template">
          {{#each players}}
            {{#unless isDealer}}
              <li class="player one" data-player-id="{{@index}}" data-player>
                <span class="name">{{ name }}</span>
                <div class="cards-placeholder"></div>
                <div class="actions">
                  <div>
                    <label>
                      <span>Bet: </span>
                      <input type="number" class="bet" min="25" value="25">
                    </label>
                  </div>
                  <button class="deal" data-click-action="deal">deal</button>
                  <button class="hit" data-click-action="hit">hit</button>
                  <button class="double" data-click-action="double">double</button>
                  <button class="stand" data-click-action="stand">stand</button>
                </div>
              </li>
            {{/unless}}
          {{/each}}
        </script>
      </ul>
    </div>


    <form id="settings" action="#" name="settings" class="settings" method="post" autofocus>
      <label>
        <span>Players:</span>
        <input type="number" name="nPlayers" id="nPlayers" value="1" min="1" max="5" required>
      </label>
      <button type="submit">Start</button>
    </form>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/handlebars/handlebars.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    

    <!-- build:js scripts/main.js -->
    <script src="scripts/Blackjack/Blackjack.js"></script>
    <script src="scripts/Blackjack/Deck.js"></script>
    <script src="scripts/Blackjack/Utils.js"></script>
    <script src="scripts/Blackjack/Player.js"></script>
    <script src="scripts/Blackjack/Game.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
